@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@700&family=Orbitron:wght@400;500&family=Roboto&family=Sansita+Swashed:wght@300;400;504;600&family=Squada+One&display=swap");

body {
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat";
  overflow: hidden;
}
.container {
  margin: 50px 100px;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.LOGO {
  height: 41px;
}
.list {
  margin-left: 150px;
  margin-top: -30px;
  cursor: pointer;
}
.list-item {
  display: inline;
  margin-right: 50px;
  color: gray;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto";
}
.list-item:hover {
  color: black;
  font-weight: 600;
}
.button-group {
  float: right;
  margin-right: 50px;
  margin-top: -49px;
}
.nav-button {
  color: #ffffff;
  background-color: #5955b3;
  padding: 20px 35px;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  font-family: "Roboto";
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.banner-container {
  width: 400px;
  height: 500px;
  margin-top: 100px;
}
.heading-text {
  font-size: 50px;
  color: #3c2f60;
}

span {
  color: #5955b3;
}
.description {
  color: #989898;
  font-family: "Roboto";
}
.btn {
  margin-top: 50px;
}
/* ------------------------------ */
/* ---------- right section ------------ */
/* ------------------------------ */
.img {
  position: relative;
  top: -400px;
  left: 850px;
  height: 500px;
}
